.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.wrapper .logo {
    background-image: url(./assets/IMAGE.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 134px;
    height: 24px;
}

.wrapper nav {
    display: flex;
}

.wrapper nav p{
    font: 400 16px 'Roboto';
    color: rgba(30, 30, 30, 1);
}

.wrapper nav p:not(:last-child) {
    margin-right: 40px;
}

.login-btn {
    display: flex;
    align-items: center;
}

.merchant-login {
    font: 400 16px 'Roboto';
    color: rgba(30, 30, 30, 1);
}

.customer-login {
    font: 400 16px 'Roboto';
    color: white;
    background-color: rgba(30, 30, 30, 1);
    border-radius: 5px;
    padding: 10px 15px;
}

.login-btn div:not(:last-child) {
    margin-right: 40px;
}